/* Navbar */
.pis-icon{
    margin-right: 15px;
}
#nav-section{
    /* background-color: #a7bbc7;     */
    color: #fff;
    font-family: 'Merriweather', serif;
}
.pis{
    font-size: 2rem;
}
.custom-link{
    font-weight: bold;
}

/* body section */

#body-section{
    margin: 20% 45%;
    color: #a7bbc7;
}